/*
blue 9bc0d4
grey dark 636466
grey med b8b8b7
grey light efefee
*/

/*global*/
html, body { margin:0px; font-family:Georgia, serif; font-size:12px; line-height:16px; color:#636466; text-align:center; }
a { text-decoration:none; color:#9bc0d4; outline:none; }
a.empty { color:#444; }
a img { border: 0; }
#container { width:993px; margin:0px auto; background-image:url(/images/background.png); background-repeat:repeat-y; text-align:left; }
p { margin:0px 0px 15px 0px; }
h3 { margin:0px 0px 15px 0px; font-weight:normal; font-style:italic; font-size:12px; }
ol { margin:0 0 0 25px; padding:0; }
ul { margin:10px 0px 0px 15px; padding:0px; }
ol li { margin:0px 0px 10px 0px; padding:0; text-indent:0px; }

/*top*/
#banner { width:993px; height:76px; background-color:#efefee; position:relative; }
#banner #title { position:absolute; left:258px; top:56px; font-style:italic; }
#banner #galleryControls { top:54px; left:508px; font-style:italic; position:absolute; }
#banner #galleryControls a { color:#636466; width:24px; text-align:center; height:20px; line-height:20px; display:block; font-weight:normal; cursor:pointer; float:left; }
#banner #galleryControls a:hover, #banner #galleryControls a.selected { font-weight:bold; }
#border { width:993px; height:12px; background-color:#fff; }

/*left*/
#left { width:237px; min-height:568px; height:auto !important; height:568px; float:left; }
#logo { background-color:#fff; height:66px; line-height:66px; font-size:13px; letter-spacing:2px; font-weight:bold; }
#logo img { margin-top:30px; }

ul.nav { margin:0px; padding:0px 0px 10px 0px; list-style:none; background-color:#fff; }
ul.nav a { text-decoration:none; color:#636466; display:block; width:234px; margin-left:4px; cursor:pointer; }
ul.nav a:hover { font-style:italic; color:#b8b8b7; }
ul.nav a.selected { font-style:italic; }
ul.nav li { padding:3px 0px 3px 0px; }
ul.nav li.selected { background-image:url(/images/li-selected-bg.png); background-repeat:no-repeat; }

ul.subnavigation { list-style:none; margin:5px 0px 5px 0px; padding:0px; font-size:11px; }
ul.subnavigation a { line-height:auto; }
ul.subnavigation li { padding:1px 0px 1px 0px; }
ul.subnavigation li.selected { background-image:none; }
ul.subnavigation li a.selected { color:#b8b8b7; font-style:normal; }
ul.subnavigation li a:hover { font-style:normal; }

#left #caption { background-color:#fff; margin-top:9px; padding:10px 4px 10px 4px; }

/*right*/
#right { float:right; width:741px; min-height:568px; height:auto !important; height:568px; position:relative; }
body.home #left, body.home #right { min-height:372px; height:auto; }

div.big { font-size:25px; padding:0px; line-height:32px; margin:14px 0px 34px 0px; width:510px; }
div.big2 { font-size:25px; padding:0px; line-height:32px; margin:14px 0px 34px 0px; width:489px; float:left; display:block; overflow:auto; }
div.column { float:left; width:237px; margin:0px 15px 0px 0px; padding:0px; }
div.last { margin-right:0px; }

#right div.slideshow_container { position: relative; }
#right div.slideshow_container ul.controller { position: absolute; top: -32px; left: 200px; list-style-type: none; margin: 0; padding: 0; }
#right div.slideshow_container ul.controller li { float: left; margin-right: 20px; }
#right div.slideshow_container ul.controller li.arrows { text-indent: -9999px; width:370px; height:561px; position: absolute; top: 32px; }
#right div.slideshow_container ul.controller li:hover { cursor: pointer; }
#right div.slideshow_container ul.controller li.arrows.prev { left: -200px; }
#right div.slideshow_container ul.controller li.arrows.prev:hover { background: url(/images/arrow-left.png) no-repeat 10px center; }
#right div.slideshow_container ul.controller li.arrows.next { left: 171px; }
#right div.slideshow_container ul.controller li.arrows.next:hover { background: url(/images/arrow-right.png) no-repeat 338px center; }
#right div.slideshow_container ul.controller li.number.selected { font-weight: bold; }
#right ul.slideshow { overflow: auto; margin: 0; padding: 0; list-style-type: none; }
#right ul.slideshow li { float:left; margin: 0; padding: 0; }

#right #arrowLeft { background-color:transparent; width:370px; height:568px; top:0px; left:0px; cursor:pointer; background-image:url(/images/transparent.png); position:absolute; background-repeat:no-repeat; background-position:10px 267px; }
#right #arrowRight { background-color:transparent; width:371px; height:568px; top:0px; right:0px; cursor:pointer; background-image:url(/images/transparent.png); position:absolute; background-repeat:no-repeat; background-position:339px 267px; }

/*page specfic*/
body.contact ul.contact_methods { margin:0 0 30px 0; padding:0; overflow:auto; width:480px; list-style-type: none; }
body.contact ul.contact_methods li { margin:0; padding:0; float:left; width:160px; margin:0px; padding:0px; overflow:hidden; }
body.contact ul.contact_methods li a { font-size: 11px; }

body.contact fieldset { border:0; margin-top:10px; padding:0; }
body.contact #mce-EMAIL { border:1px solid #a0c0d5; padding:3px; margin:0px; width:300px; outline:none; }
body.contact fieldset label { display:none; }
body.contact #mc-embedded-subscribe { display:none; }
body.contact #mc_embed_close { display:none; }
body.contact #mce-responses { margin-top:20px; }

body.contact div.form img { margin-right:6px; }

div.press { font-style:italic; font-size:11px; margin:0px; width:219px; padding:10px 0px 20px 10px; }



/*bottom*/
#footer { background-color:#fff; clear:both; width:993px; height:60px; background-image:url(/images/border.png); background-repeat:no-repeat; position:relative; }
#footer #inner { font-style:italic; position:absolute; top:18px; left:262px; line-height:18px; }
#footer #logofooter { position:absolute; top:41px; }