body { 
	margin:0px; 
	background-color:#000000; 
	text-align:center; 
	font-size:10pt;
	font-family:Arial;
	color:#CCCCCC;
}

.t { 
	text-align:center; 
	font-size:10pt;
	font-family:Arial;
	color:#CCCCCC;
}

a		{ color:#999999; outline:none; }
a:hover	{ color:#FFFFFF; }

img { border-color:#999999; }