@white		: #fff;
@borders	: #636466;
@text		: #636466;
@blue		: #87b8d8;

@gray		: #757678;
@green		: #bae1d1;

.opacity(@opacity: 0.5) {
	@ieOpacity: @opacity * 100;
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	-webkit-opacity: @opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
	filter: ~"alpha(opacity=@{ieOpacity})";
	opacity: @opacity;
}

body { font-family: Georgia, serif; font-size: 12px; line-height: 1.5; color: @text; }

a {
	color: @blue; outline: none; text-decoration: none; cursor: pointer;
	&.image { display: block; }
	&.inherit { color: inherit; }
	&:active, &:hover, &:focus { text-decoration: underline; outline: none; }
}

h2 { font-weight: normal; font-size: inherit; font-style: italic; color: @blue; }

img { display: block; }

div.container { 
	
	width: 990px; margin: 0 auto; 
	
	p, h2 { margin: 0 0 1em 8px; }

	.banner {
		padding: 35px 0 6px 0; 
		img { display: block; margin: 0 auto; }
	}

	.border {
		margin: 10px 0 10px -14px; overflow: auto;
		.column { border-width: 1px 0; border-style: dotted; border-color: @borders; }
	}

	.row { 
		margin: 0 0 14px -14px; overflow: auto; position: relative;
		&.prices {
			.column { margin-bottom: 14px; }
			div.p {
				color: @blue; font-style: italic; margin: 4px 0 0 8px; padding-right: 80px; position: relative;
				a { 
					background-color: @green; color: @gray; padding: 2px 8px; text-transform: lowercase; position: absolute; top: 0; right: 0;
					:hover { text-decoration: none; }
				} 
				form.paypal {
					padding: 0; margin: 0; position: absolute; top: 0; right: 0;
					input.submit {
						font-family: Georgia, serif; font-size: 11px; line-height: 1.5;
						background-color: @green; color: @gray; padding: 2px 8px; text-transform: lowercase; border: 0; font-style: italic;
						&:hover { background-color: lighten(@gray, 40%); color: @gray; }
					}
					img { display: none; }				
				}
			}
		}
	}
	
	.bio { 
		position: absolute; bottom: 0; right: 0;
		p { margin-bottom: 0; }
	}
	
	.column {
		width: 237px; margin-left: 14px; float: left; min-height: 3px; 
		
		h2 {
			margin-top: 28px; 
			&:first-child { margin-top: 0; }
		}
				
		&.span2 { width: 488px; }
		&.span3 { width: 739px; }
		&.big { font-size: 20px; }
		&.bump { padding-top: 30px; }
		&.side {
			padding-top: 40px;
			ul {
				list-style: none;
				margin: 6px 0 40px 0; padding: 0; 
				li {
					margin: 0; 
					a { display: block; padding: 3px 0 3px 17px; color: inherit; border-width: 1px 0; border-style: dotted; border-color: transparent; }
					ul {
						margin-bottom: 6px; display: none; 
						li {
							a { display: block; padding-left: 34px; }
							&.last { margin-bottom: -4px; }
						}
					}
					&.selected { 
						a { border-color: @borders; }
						ul { display: block; li a { border-color: transparent; } }
					}
					&.descendant-selected { ul { display: block; } }
				}
			}
			
			div.description { 
				padding: 2px 17px; background-color: @white; 
				div.border { border-width: 1px 0; border-style: dotted; border-color: @borders; height: 3px; margin: 8px -17px; }
			}
		}
	}
	
	.page {
		min-height: 365px; overflow: auto; margin-left: -14px; background-image: url(/images/gray.png); background-position: 14px 0; 
		background-repeat: repeat-y;
	}
	
	.footer {
		padding-top: 13px; margin-left: -14px; font-style: italic;
		a.inherit { margin-right: 10px; }
	}
}

body.projects {
	div.slideshow_container {
		position: relative;
		ul {
			list-style: none; margin: 0; padding: 0;
			li { float: left; }
			&.controller {
				float: left; cursor: pointer; overflow: auto; padding: 0 20px 0 180px; 
				li {
					&.number { 
						margin: 10px; font-style: italic; 
						&.selected { font-weight: bold; }
					}
					&.arrows {
						position: absolute; height: 561px; width: 200px; top: 0; text-indent: 100%; overflow: hidden; 
						&.prev { 
							left: 0; background: url(/images/arrow-left.png) no-repeat 10px center; .opacity(0);
						}
						&.next { 
							right: 0; background: url(/images/arrow-right.png) no-repeat 168px center; .opacity(0);
						}
						&:hover { .opacity(1); }
					}
				}
			}
		}
	}
	div.caption { float: left; padding: 10px; font-style: italic; }
}

div	.press .column {
	font-style: italic; padding-bottom: 14px; 
	img { margin-bottom: 5px; }
}

div#mc_embed_signup { margin-left: 8px; }

ul.social {
	list-style-type: none; margin: 0 0 0 8px; padding: 0;
	li { float: left; margin-right: 10px; }
}

body.projects div.container div.border div.column.side_bottom { border: 0; }

body.room-service div.slideshow_container {
	position: relative; margin-left: 8px;
	ul {
		list-style-type: none; margin: 0; padding: 0; 	
		li {
			float: left;
			&.number { display: none; }
			&.arrows {
				cursor: pointer;
				position: absolute; height: 364px; width: 200px; top: 0; text-indent: 100%; overflow: hidden; 
				&.prev { 
					background: url(/images/arrow-left.png) no-repeat 10px center; 
					left: 0; .opacity(0);
				}
				&.next { 
					background: url(/images/arrow-right.png) no-repeat 168px center;
					right: 0; .opacity(0);
				}
				&:hover { .opacity(1) }
			}
		}
	}
}

body.contact {
	fieldset {
		border:0; margin: 10px 0 0 0; padding:0;
		label { display: none; }
		#mce-EMAIL { border:1px solid #a0c0d5; padding:3px; margin:0px; width:300px; outline:none; }
		#mc-embedded-subscribe { display:none; }
		#mc_embed_close { display:none; }
		#mce-responses { margin-top:20px; }
	}
}